html{
	background: #000;
}
body{
	margin: 0;
}

header{
	position: fixed;
	top: 0;
	height: 100%;
	right:  1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 100;
	color:  #fff;
}

nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a{
	color:  #fff;
}

.chapter_section{
	position: relative;
	width:  100%;
	height:  100vh;
}

/*CHAPTER 1*/

.chapter_full_video{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	mix-blend-mode: exclusion;
}

#three_js_container{
	position: absolute;
	right:  0;
	width: 100%;
	height: 100vh;
}